@font-face {
  font-family: "iconfont"; /* Project id 2786225 */
  src: url('iconfont.woff2?t=1631850222848') format('woff2'),
       url('iconfont.woff?t=1631850222848') format('woff'),
       url('iconfont.ttf?t=1631850222848') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 12px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gaojibiaodashi:before {
  content: "\e6bc";
}

.icon-xinzengbiaodashi:before {
  content: "\e658";
}

.icon-fangan:before {
  content: "\e78c";
}

.icon-biaodashi:before {
  content: "\e951";
}

.icon-biaodashidingyi:before {
  content: "\e624";
}

.icon-a-regex1x:before {
  content: "\e6f8";
}

.icon-cluster:before {
  content: "\63";
}

.icon-kafka:before {
  content: "\e6f2";
}

